@use "../tools" as *;
.back-link {
  display: flex;
  align-items: center;
  gap: 6px;
  color: $color-grey-medium;
  font-size: rem(14);
  transition: color 0.15s ease;

  @media (hover: hover) {
    &:hover {
      color: $color-green;
    }
  }

  .icon {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
  }

  .material-design-icon__svg {
    margin-left: -10px;
  }
}

//Breakpoints ==================================
@include breakpoint(sm-down) {
  .back-link {
    order: -1;
    margin-bottom: -24px;
  }
}
