@use "../tools" as *;
.breadcrumbs {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 6px;
  font-size: rem(13);
  margin-bottom: 8px;
  color: $color-grey-medium;

  &__breadcrumb {
    display: flex;
    align-items: center;

    a {
      transition: color 0.15s ease;

      @media (hover: hover) {
        &:hover {
          color: $color-green;
        }
      }
    }

    &::after {
      content: "/";
      margin-left: 6px;
      opacity: 0.4;
    }
  }

  &__active {
    font-weight: 600;
    color: $color-text;
  }
}

//Breakpoints ==================================
@include breakpoint(sm-up) {
  .breadcrumbs {
    margin: 0;
  }
}
