@use "../tools" as *;
.btn {
  display: inline-flex;
  gap: 8px;
  padding: 10px 18px;
  font-size: rem(13);
  line-height: rem(16);
  font-weight: 600;
  background-color: $color-green;
  border: 1px solid $color-green;
  border-radius: $common-border-radius;
  cursor: pointer;
  width: fit-content;
  text-transform: none;
  color: $color-white;
  align-items: center;
  transition: all 0.2s cb(snappy);

  @media (hover: hover) {
    &:hover {
      background-color: $color-green-dark;
      border-color: $color-green-dark;
    }
  }

  .icon {
    width: 16px;
    height: 16px;

    * {
      fill: $color-white;
    }
  }

  //States ----------
  &--red {
    background-color: $color-red;
    border-color: $color-red;
    @include btnHover(darken($color-red, 8%), $color-white)
  }

  &--secondary {
    background-color: $color-white;
    border-color: $color-border;
    color: $color-text;

    .icon * {
      fill: $color-text;
    }

    @media (hover: hover) {
      &:hover {
        background-color: $color-grey-lighter;
        border-color: $color-grey;
      }
    }
  }

  &--square {
    padding: 6px;

    .icon {
      width: 16px;
      height: 16px;
    }
  }

  &--link {
    padding: 0;
    font-weight: 600;
    color: $color-green;
    border: none;
    text-decoration: none;
    background-color: unset;

    .icon * {
      fill: $color-green;
    }

    @media (hover: hover) {
      &:hover {
        color: $color-green-dark;
        background-color: unset;
        border-color: unset;

        .icon * {
          fill: $color-green-dark;
        }
      }
    }
  }

  &:disabled,
  &--disabled {
    pointer-events: none;
    background-color: $color-grey-light;
    border-color: $color-grey-light;
    color: $color-grey;
  }

  &--fullscreen {
    width: 100%;
    justify-content: center;
  }

  &--icon-translate-hover {
    @media (hover: hover) {
      &:hover {
        .icon {
          transform: translate3d(2px, 0, 0);
        }
      }
    }
  }
}
