@use "../tools" as *;
.content-grid {
  &,
  &__transition {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__header,
  &__subheader {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    grid-column: span 2;
  }

  &__back {
    display: flex;
    align-items: center;
    gap: 12px;

    h1 {
      display: inline;
    }
  }

  &__back-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 8px;
    font-size: 20px;
    color: $color-grey-medium;
    text-decoration: none;
    transition: background-color 0.2s, color 0.2s;

    &:hover {
      background-color: rgba(0, 0, 0, 0.08);
      color: $color-grey-dark;
    }
  }

  &__text {
    @include text--body-small;
    color: $color-grey-medium;
  }

  &__actions {
    display: flex;
    flex-wrap: wrap;
    gap: 12px 24px;
  }

  ~ .content-grid:not(:first-child) {
    margin-top: 20px;
  }
}

//Breakpoints ==================================
@include breakpoint(sm-up) {
  .content-grid {
    &,
    &__transition {
      gap: 32px;
    }

    &__header {
      &:not(:has(.content-grid__text)){
        margin-bottom: 8px;
      }
    }

    &__subheader {
      &:has(+ .data-easy-table) {
        margin-bottom: -8px;
      }
    }

    &__actions {
      margin-left: auto;
      justify-content: flex-end;

      .btn--link {
        order: -1;
      }
    }

    //States ---------------------------
    &--double {
      display: grid;
      grid-template-columns: minmax(0,1fr) minmax(0,1fr);
    }
  }
}
