@use "../tools" as *;
.dashboard {
  height: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &__body {
    display: flex;
    flex: 1;
    min-height: 0;
    flex-direction: column;
  }

  &__content {
    flex: 1;
    padding: 32px 0 48px;
    @include pagePadding;
    background-color: $color-grey-lighter;
    min-height: 0;
    overflow: auto;
  }
}

//Breakpoints ==================================
@include breakpoint(md-up) {
  .dashboard {
    &__body {
      display: grid;
      grid-template-columns: 240px 1fr;
      min-height: calc(100vh - 56px);
    }

    &__content {
      padding-left: 40px;
      padding-top: 40px;
    }

    &--with-exams {
      .dashboard__body {
        grid-template-columns: 240px 240px 1fr;
      }
    }
  }
}
