@use "../tools" as *;
.navbar {
  background-color: $color-grey-dark;
  padding-top: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  &__title,
  &__drawer-btn {
    width: calc(100% + #{$page-padding-small} * 2);
    margin: 0 - $page-padding-small;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-family: $font-montserrat;
  }

  &__title {
    background-color: $color-white;
    font-size: rem(13);
    line-height: rem(16);
    border-top: 1px solid $color-border;
  }

  &__drawer-btn {
    font-size: rem(15);
    line-height: rem(16);
    color: rgba($color-white, 0.85);
    transition: background-color 0.2s cb(snappy);

    @media (hover: hover) {
      &:hover {
        background-color: rgba($color-white, 0.05);
      }
    }

    .icon {
      flex-shrink: 0;
      margin-left: 24px;
      width: 10px;
    }
  }

  &__nav {
    padding: 12px 0;
  }

  &__navlink {
    display: flex;
    font-weight: 500;
    font-family: $font-montserrat;
    font-size: rem(14);
    line-height: rem(16);
    width: 100%;
    padding: 10px 20px;
    border-radius: 6px;
    color: rgba($color-white, 0.7);
    transition: color 0.2s cb(snappy), background-color 0.2s cb(snappy);

    @media (hover: hover) {
      &:hover {
        color: $color-white;
        background-color: rgba($color-white, 0.05);
      }
    }

    &.router-link-active {
      color: $color-white;
      background-color: rgba($color-white, 0.1);
      font-weight: 600;
      pointer-events: none;
    }
  }

  &__footer {
    border-top: 1px solid rgba($color-white, 0.1);
    padding: 32px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }
}

//Breakpoints ==================================
@include breakpoint(md-up) {
  .navbar {
    position: sticky;
    padding-top: 120px;
    top: calc($header-height-scroll + 24px);

    &__content {
      overflow: auto;
      max-height: calc(100vh - ($header-height-scroll + 24px));
    }

    &__nav {
      padding: 0;
    }
  }
}
