@use "../tools" as *;
.popup {
  position: fixed;
  inset: 0;
  z-index: $zindex-popup;

  &__bg {
    background-color: $color-grey-darker;
    opacity: 0.5;
    position: absolute;
    inset: 0;
  }

  &__container {
    margin: 10vh 24px;
    max-height: 80vh;
    max-width: 480px;
    display: flex;
    flex-direction: column;
    background-color: $color-white;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: $bold-shadow;
  }

  &__header {
    padding: 28px 32px;
    border-bottom: 1px solid $color-border;
    text-align: center;
  }

  &__title {
    text-transform: none;
    font-weight: 600;
  }

  &__content {
    overflow: auto;
  }

  &__block {
    padding: 28px 20px;
  }

  &__cta {
    background-color: $color-green;
  }

  &__cta-title {
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  &__cta-text {
    font-size: rem(16);
    line-height: rem(24);
    @include text--big;

    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  //States ----------------------------------
  &--logout {
    .popup__block {
      display: flex;
      gap: 16px;
      align-items: center;

      .progress-ring {
        flex-shrink: 0;
      }
    }

    .popup__btn {
      width: 100%;
      border-radius: 0;
    }
  }
}

//Breakpoints ============================================
@include breakpoint(xs-up) {
  .popup {
    &__container {
      margin: 10vh auto;
    }
  }
}

@include breakpoint(sm-up) {
  .popup {
    &__block {
      padding: 32px;
    }
  }
}
