@use "../tools" as *;
.search-input {
  border-radius: $common-border-radius;
  border: 1px solid $color-border;
  width: fit-content;
  display: flex;
  flex-direction: row-reverse;
  gap: 8px;
  padding: 8px 12px;
  transition: border-color 0.2s cb(snappy), box-shadow 0.2s cb(snappy);
  background-color: $color-white;

  input {
    &::placeholder {
      color: $color-grey-medium;
    }

    &:focus {
      outline: none;
    }
  }

  &:focus-within,
  &:hover {
    border-color: $color-green;
    box-shadow: 0 0 0 3px rgba($color-green, 0.1);

    .icon {
      * {
        fill: $color-green;
      }
    }
  }
}
