@use "../tools" as *;
.tag {
  display: block;
  max-width: fit-content;
  padding: 3px 10px;
  font-size: rem(12);
  line-height: rem(18);
  font-weight: 600;
  border-radius: 20px;
  background-color: $color-beige-lighter;
  color: $color-beige-dark;
  border: 1px solid rgba($color-beige, 0.15);
  transition: background-color 0.2s cb(snappy), border-color 0.2s cb(snappy);
}
