@use "../tools" as *;
.tooltip {
  padding: 12px 16px;
  border-radius: $common-border-radius;
  border: 1px solid $color-green-light;
  color: $color-green-dark;
  background-color: $color-green-lighter;
  font-size: rem(14);
  line-height: rem(18);
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 550px;
  margin-bottom: 24px;

  &--warning {
    color: $color-yellow-dark;
    border-color: $color-yellow-light;
    background-color: $color-yellow-light;
  }

  &--full {
    max-width: unset;
  }

  &--success {
    color: $color-green-dark;
    border-color: $color-green-light;
    background-color: $color-green-lighter;
  }

  &--error {
    color: $color-red-dark;
    border-color: $color-red-light;
    background-color: rgba($color-red-light, 0.4);
  }

  &--notification {
    margin: 4px;
    flex-direction: row;
    align-items: center;
  }

  &__section {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}

@include breakpoint(sm-up) {
  .tooltip {
    flex-direction: row;
    align-items: center;
  }
}
