@use "colors" as *;
@use "functions" as *;

// fonts
$font-montserrat: 'Montserrat', 'Helvetica Neue', Helvetica, arial, sans-serif;
$font-karla: 'Karla', 'Helvetica Neue', Helvetica, arial, sans-serif;

$zindex-popup: 70000;
$zindex-subheader: 8000;
$zindex-notifications: 90000;

$gutter-width: 2rem; //32px

// padding
$page-padding-small: rem(24);
$page-padding-medium: rem(32);
$page-padding-large: rem(64);

// border-radius
$common-border-radius: 8px;

//height
$header-height-mobile: 128px;
$header-height-desktop: 140px;
$header-height-scroll: 78px;

//shadows
$bold-shadow: 0 4px 24px rgba($color-black, 0.08);
$small-shadow: 0 1px 3px rgba($color-black, 0.08);
